.பக்கக்குறிப்பு {
    position: fixed;
    top: 92%;
    right: 1vw;
    color: #6f6a6ac9;
    -webkit-tap-highlight-color: transparent;
}

.பக்கக்குறிப்பு i {
    font-size: 5.2em;
}

.பக்கக்குறிப்பு span {
    position: absolute;
    top: 20px;
    left: 24px;
    color: #ffffff;
    font-size: 2em;
    text-shadow: 0px 0px 1px white;
}

.பக்கக்குறிப்பு.தொடு {
    color: #E18A07;
}