.கட்டங்கள் {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    padding: 25px 30px 40px 30px;
    justify-items: center;
}

.கட்டம் {
    background-color: #ffffff;
    height: 40vh;
    display: table;
    width: 100%;
}

.கட்டம் span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 6em;
    color: #5f5b5b;
    box-shadow: #524949 0px 5px 15px -5px;
    word-break: break-all;
    font-family: 'Arima Madurai', cursive;
}

