.நடுநிலை {
    text-align: center;
}

.தலையங்கம் {
    background: #5d9cfd;
    color: white;
    font-family: 'Arima Madurai', cursive;
    width: 90vw;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    z-index: 10;
}

.தலைப்பு {
    font-size: 1.8em;
    cursor: pointer;
}

.பட்டியல் {
    font-size: 0.95em;
    top: -5vh;
    position: relative;
    text-align: right;
    font-weight: bold;
    /*margin-left: 50vw;*/
}

.பட்டியல் > span {
    margin-right: 0.5em;
    cursor: pointer;
}

.பட்டியல் > span:hover {
    color: #3a3a3ae6;
    transition: 0.25s ease-in-out
}

.தளம் {
    padding-top: 12vh;
}