.உடல் {
    margin: 0px;
    background: #d8d8d8a6;
    font-family: sans-serif;
    overflow-x: hidden;
}

.நடுநிலை {
    text-align: center;
}

.தலையங்கம் {
    background: #5d9cfd;
    color: white;
    font-family: 'Arima Madurai', cursive;
    width: 90vw;
    height: 5vh;
    padding-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    z-index: 10;
}

.தலைப்பு {
    font-size: 2.7em
}

.பட்டியல் {
    font-size: 1.7em;
    top: -4.3vh;
    position: relative;
    text-align: right;
    font-weight: bold;
}

.பட்டியல் > span {
    margin-right: 0.5em;
    -webkit-tap-highlight-color: transparent;
}

.தளம் {
    padding-top: 5.49vh;
}