/* Google fonts and icons */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* tamil */
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arima Madurai'), local('ArimaMadurai-Regular'), url(https://fonts.gstatic.com/s/arimamadurai/v5/t5tmIRoeKYORG0WNMgnC3seB3SjPr6OH.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* tamil */
@font-face {
  font-family: 'Kavivanar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kavivanar Regular'), local('Kavivanar-Regular'), url(https://fonts.gstatic.com/s/kavivanar/v5/o-0IIpQgyXYSwhxP7_Jr8zRAW_0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* tamil */
@font-face {
  font-family: 'Pavanam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pavanam'), local('Pavanam-Regular'), url(https://fonts.gstatic.com/s/pavanam/v4/BXRrvF_aiezLh0xPPPpa9Ff0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}

.உடல் {
    margin: 0px;
    background: #d8d8d8a6;
    font-family: sans-serif;
    overflow-x: hidden;
}

.நடுநிலை {
    text-align: center;
}

.தலையங்கம் {
    background: #5d9cfd;
    color: white;
    font-family: 'Arima Madurai', cursive;
    width: 90vw;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    z-index: 10;
}

.தலைப்பு {
    font-size: 1.8em;
    cursor: pointer;
}

.பட்டியல் {
    font-size: 0.95em;
    top: -5vh;
    position: relative;
    text-align: right;
    font-weight: bold;
    margin-left: 50vw;
}

.பட்டியல் > span {
    margin-right: 0.5em;
    cursor: pointer;
}

.பட்டியல் > span:hover {
    color: #3a3a3ae6;
    transition: 0.25s ease-in-out
}

.தளம் {
    padding-top: 12vh;
}