.தளம் > .சிறுகதைகள் {
    /* text-align: justify; */
    padding: 2vh 10vw;
    font-size: 1.5em;
    color: #0d1b35;
    font-family: 'Pavanam', sans-serif;
    -webkit-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
    user-select: text;
}